name: Automated Data Preprocessing

# trigger
on:
  push:
    branches: ["main"]
    paths:
      - 'predict_the_introverts_from_the_extroverts_raw/**'
      - 'preprocessing/automate_Maulana-Syarip-Abdurahman.py'
  workflow_dispatch:

jobs:
  preprocessing-job:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      # get code from repository
      - name: Checkout code
        uses: actions/checkout@v4

      # setup python
      - name: Set up Python 3.12.7
        uses: actions/setup-python@v4
        with:
          python-version: '3.12.7'

      # install dependencies
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install numpy pandas scikit-learn

      # run preprocessing script
      - name: Run preprocessing script
        run:  |
          cd preprocessing
          python automate_Maulana-Syarip-Abdurahman.py

      # commit and push
      - name: Commit and Push Processed Data
        env:
          GITHUB_TOKEN: ${{ secrets.GH_PAT }}
        run: |
          git config --global user.name ${{ secrets.username }}
          git config --global user.email ${{ secrets.email }}

          git add preprocessing/predict_the_introverts_from_the_extroverts_preprocessing/
          
          if git diff --staged --quiet; then
            echo "No changes. Workflow complete without commit."
          else
            echo "Commit.."
            git commit -m "Auto-update: Update clean datasets"
            
            git remote set-url origin https://x-access-token:${GITHUB_TOKEN}@github.com/${{ github.repository }}
            git push
          fi
